@media screen and (max-width: 550px) {
  .cteator-task {
    display: flex;
    flex-direction: column;
  }

  .right {
    margin-top: 2rem;
  }
}


  
  .user-name {
    width: 10rem;
    word-wrap: break-word;
    span {
      font-weight: bold;
    }
  }
  
  .email {

    word-wrap: break-word;
    span {
      font-weight: bold;
    }
  }

  .text {
    margin-top: 2rem;
   
    word-wrap: break-word;
    span {
      font-size: 1.8rem;
    }
  }
  