// .creater-task{
//   text-align: center;
//   }
  
  
//   .creater-task {
//     button {
//       background-color: orange;
//       border-radius: 0.5rem;
//       border: 0.2rem solid wheat;
//       height: 3rem;
//       color: white;
//       font-weight: bold;
//      }
//      button:hover {
//       background-color: wheat;
//       border-radius: 0.5rem;
//       border: 0.2rem solid orange;
//       height: 3rem;
//       color: black;
//      }

//      input,textarea, button  {
//       width: 85%;
//       padding: 0.5rem;
//       max-width: 50rem;      
//       margin: 1rem;      
//     }

//     .active {
//       font-weight: bold;
//     }
//   }
  
  .user-name {
    width: 5rem;
  }
  
  .email {
    width: 12rem;
  }
  