html {
  font-size: 62.5%;  /* 16 px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}
p {
  line-height: 0;
}

body {
  margin: 0%;
  height: 100vh;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  background: ghostwhite ;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout  */

.grid-container{
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows:  5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  padding: 0 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: #dedee0;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
}
.paper {
  margin: 5% 8%;
  padding: 3% 5%;
  background-color: #fff;
  border-radius: 1rem;  
}

@media screen and (max-width: 550px) {
  .paper {
    margin:0 ;
    padding: 0;
    background-color: #fff;
    border-radius: 0;  
  }
}





/* Header */

header p:hover {
  color: orange;
}

main span {
  font-size: 1.5rem;
}



.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: center;
}

.row.space-btw{
  justify-content: space-between;
}

.row.center {
  justify-content: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.col-1 {
  margin: 1rem;
  flex: 1 1 20rem;
}

.col-2 {
  margin: 1rem;
  flex: 2 1 40rem;
}

.col-3 {
  margin: 1rem;
  flex: 3 1 75rem;
}

ul {
  padding: 0%;
  list-style-type: none;
}

ul li {
  padding: 0.2rem;
  text-align: center;
}

ul li:hover {
  background: skyblue;
}

header ul li:hover {
  background: #203040;
  color: tomato;
}

a:hover {
  color: tomato;
}

.pointer {
  cursor: pointer;
}

/* Task  */



.task {
  border-bottom: 0.2rem solid gainsboro;
  padding: 1rem 0.5rem;
}
.left > div {
  margin: 0  1rem;
}


/* Selector status  */



.selected-status {
  margin-left: 0.5rem;
  padding: 0.5rem 0.7rem;
  width: 8rem;
  text-align: center;
}

.show{
  display: none;
}

.rotared {
  transform: rotate(180deg);
}

.processing {
  background-color: tomato;
}

.complete {
  background-color: yellowgreen;
}

/* Button  */

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

button, input, select, textarea {
    padding: 1rem;
    border-radius: .5rem;
    border: .1rem solid #a4a4a4;
    font-size: 1.6rem;

}

input:hover, 
select:hover, 
textarea:hover,
button:hover {
  border: 0.1rem  #404040 solid;
}



button.primary {
  background-color: #F0C040;
}

button.secondary {
  background-color: lightgreen;
}

button.block {
  width: 100%;
}

button.small{
  font-size: 1.2rem;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding:  1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  // margin-top: 0.1rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
display: block;
}




/* Table  */

.table {
  width: 100%;
  /* border-collapse: collapse; */
}


